
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Reseteo del formato previo, para poder tener un mejor control posterior*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  border: 0;
  vertical-align: baseline;
}

html {
  /* color: rgb(0, 0, 0); */
  font-size: 12px;
  box-sizing: border-box; /* para obligar al navegador que use el modelo de cajas alternativo donde, al ancho y al alto de la caja NO hay que sumar padding, margin, border*/
}
html, body {
  font-family: "Inter", "Open Sans", sans-serif;
  color: rgb(65,78,87);
  margin: 0!important;
  padding: 0!important;
  height: 100%!important;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
ol, ul {
  margin-bottom: 2rem!important;
  margin-left: 0!important;
}
.menu_sup {
  list-style-type: none;	 
 }
.menu_sup li {
  float: left;
}
.mega-menu-idi {
	width: 450px; 
	overflow: hidden; 
	padding: 5px; 
	border: 1px solid #2e9c96; 
	border-radius: 5px;
}
.btn-acto-admin{
  min-width: 11rem;
}
#container {
  min-height:100%;
  position:relative;
  background-color: #fff;
}
.seleccionado {
	border: 5px solid #00f;
	background-color: #E0F2F7;
}
.label-info {
    background-color: rgb(6, 82, 67)!important; /* #39a9a3 */
    color: rgba(255, 255, 255, 1)!important;
    font-size: 1rem;
    font-family: Arial;
    border: rgba(255, 255, 255, 1) solid 2px;
    border-radius: 10px;
    margin-left: 3rem;
}
/* ----------------------------- Menú superior IDI ----------------------------------------------------------- */
#cabecera-idi-superior {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
		"logo idioma idioma idioma idioma"
        "logo items items items items";
  padding: 6px;
  text-align: right;
}
#cabecera-idi-superior > #logo {
  grid-area: logo;
  text-align: left;
}

#cabecera-idi-superior > #idioma {
  grid-area: idioma;
}
#cabecera-idi-superior > #items {
  grid-area: items;
  font-weight: bold;
  list-style-type: none;
}
#cabecera-idi-superior > #items > ul {
  list-style-type: none ;
  position: relative;
  float: right;
}
#cabecera-idi-superior > #items > ul > li {
  display: inline-block;
  width: 180px;
  background: white;
  color: #95c8cc;
  text-align: center;
}
#cabecera-idi-superior > #items > ul > li a {
	color: #95c8cc;
}
#cabecera-idi-superior > #items > ul > li a:hover {
	color: #ffffff;
	background-color: #95c8cc;
	padding: 2px;
	border-radius: 2px;
}
#searchWeb {
	width: 145px;
	padding-left: 5px;
	border: 2px solid #95c8cc;
	color: #95c8cc;
	border-right: 0px none #95c8cc;
	border-left: 0px none;
	border-top: 0px none;
	border-bottom: 3px solid #95c8cc;
	border-radius: 0px;
	margin-right: 10px;
	}
#searchWeb:hover {
	background-color: #ffffff;
	color: #95c8cc;
}
#searchWeb:focus {
	background-color: #ffffff;
	color: #95c8cc;
}
.input-group-text-idi {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: 	#495057;
	text-align: center;
	white-space: nowrap;
}
#cabecera-idi-superior > footer {
  grid-area: foot;
  background-color: #8cffa0;
}
@media screen and (max-width: 625px) {
  .cabecera-menu-idi-dos {
	  grid-template-columns: repeat(1, 1fr);  
    width: 100%;
  }
}
.col-idi {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	line-height: 1.8em;	
}

/* ------------ wizard form ---------------------------------------------*/

* {
  box-sizing: border-box;
}

#regForm {
  background-color: #ffffff;
  margin: 60px auto;
  min-width: 300px;
}

h1 {
  text-align: center;  
}
select, input {
  padding: 10px;
  width: 100%;
  font-size: 1.4em;
  border: 2px solid #d1ecf1;
  background-color: #ffffff;
  letter-spacing: .2rem;
}
select:focus, input:focus {
	background-color: #b4cbd3;
	color: #000;
}
option {
  letter-spacing: .5rem;
}
/* Mark input boxes that gets an error on validation: */
select.invalid, input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  padding: 1em;
}

.input-inscr:hover {
	background: #dedede;
}

.button-insc {
  background-color: #a2d3da;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
}

.button-insc:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 17px;
  width: 17px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #497786;
}
.resumen_inscripcion_evento {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	font-size: 1.2em;
	text-align: left;
	line-height: 1.4em;
}
/*------------------------------------------------------------------ */
/*---------- Loader ------------------------------------------------ */
.loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-radius: 50%;
  border-top: 16px solid #a2d3da;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}