/* Reseteo del formato previo, para poder tener un mejor control posterior*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  border: 0;
  vertical-align: baseline;
}

html {
  font-family: Alegreya, "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 10px;
  box-sizing: border-box; /* para obligar al navegador que use el modelo de cajas alternativo donde, al ancho y al alto de la caja NO hay que sumar padding, margin, border*/
}
html, body {
  /*background-color: #f0f0f0;*/
  color: rgb(65,78,87);
  margin: 0!important;
  padding: 0!important;
  height: 100%!important;
}
.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
ol, ul {
  margin-bottom: 2rem!important;
  margin-left: 2rem!important;
}
.menu_sup {
  list-style-type: none;	 
 }
.menu_sup li {
  float: left;
}
.mega-menu-idi {
	width: 450px; 
	overflow: hidden; 
	padding: 5px; 
	border: 1px solid #2e9c96; 
	border-radius: 5px;
}
#container {
  min-height:100%;
  position:relative;
  background-color: #fff;
}
.seleccionado {
	border: 5px solid #00f;
	background-color: #E0F2F7;
}
.label-info {
    background-color: rgb(6, 82, 67)!important; /* #39a9a3 */
    color: rgba(255, 255, 255, 1)!important;
    font-size: 1rem;
    font-family: Arial;
    border: rgba(255, 255, 255, 1) solid 2px;
    border-radius: 10px;
    margin-left: 3rem;
}
/* ----------------------------- Menú superior IDI ----------------------------------------------------------- */
#cabecera-idi-superior {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
		"logo idioma idioma idioma idioma"
        "logo items items items items";
  padding: 6px;
  text-align: right;
}
#cabecera-idi-superior > #logo {
  grid-area: logo;
  /*background-color: #8ca0ff;*/
  text-align: left;
}

#cabecera-idi-superior > #idioma {
  grid-area: idioma;
  /*background-color: #ffa08c;*/
}
#cabecera-idi-superior > #items {
  grid-area: items;
  font-weight: bold;
  /*background-color: #ffff64;*/
  list-style-type: none;
}
#cabecera-idi-superior > #items > ul {
  list-style-type: none ;
  position: relative;
  float: right;
}
#cabecera-idi-superior > #items > ul > li {
  display: inline-block;
  width: 180px;
  /*height: 100px;*/
  background: white;
  color: #95c8cc;
  text-align: center;
}
#cabecera-idi-superior > #items > ul > li a {
	color: #95c8cc;
}
#cabecera-idi-superior > #items > ul > li a:hover {
	color: #ffffff;
	background-color: #95c8cc;
	padding: 2px;
	border-radius: 2px;
}
#searchWeb {
	width: 145px;
	padding-left: 5px;
	border: 2px solid #95c8cc;
	color: #95c8cc;
	border-right: 0px none #95c8cc;
	border-left: 0px none;
	border-top: 0px none;
	border-bottom: 3px solid #95c8cc;
	border-radius: 0px;
	margin-right: 10px;
	}
#searchWeb:hover {
	background-color: #ffffff;
	color: #95c8cc;
}
#searchWeb:focus {
	background-color: #ffffff;
	color: #95c8cc;
}
.input-group-text-idi {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	/*padding: .375rem .75rem;*/
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: 	#495057;
	text-align: center;
	white-space: nowrap;
	/*background-color:	#e9ecef;*/
	/*border: 1px solid #ced4da;*/
	/*border-radius: .25rem;*/
}
#cabecera-idi-superior > footer {
  grid-area: foot;
  background-color: #8cffa0;
}
@media screen and (max-width: 625px) {
  .cabecera-menu-idi-dos {
	grid-template-columns: repeat(1, 1fr);  
    width: 100%;
	/* grid-auto-rows: minmax(625px, auto); */
  }
}
.col-idi {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	line-height: 1.8em;	
}
/* ------------------------------------------------------------------------------------------------------- */
.breadcrumb_idi {
	font-size: .7em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .1rem 1rem;
    margin-bottom: .4rem;
    list-style: none;
    background-color: #ede2ce;
    border-radius: .25rem;
}
.breadcrumb_idi a{
	color: #fff;
}
#wrap_criteriosFiltro {
	font-size: .7em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .1rem 1rem;
    margin-bottom: .4rem;
    list-style: none;
    background-color: #000000;
	color: #ffffff;
    border-radius: .25rem;
}
.que-opinan-idi {
	background-color: #ffffff !Important;
	border: 0px none #000000 !Important; 
	padding: 0px !Important;
	max-width: 1110px !Important;
}
.servicios-idi-row {
	background-color: #ffffff;
	border: 0px none #000000; 
	padding: 0px;
	max-width: 1110px;
}
.btn {
    border-radius: .5rem !important;
    font-size: 1rem !important; 
	  word-break: break-all;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
   /*  padding: .5rem!important; */
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.2),0 4px 20px 0 rgba(0,0,0,.1);
}
.btn-idi{
  border-radius: .5rem !important;
  font-size: 1rem !important; 
  word-break: break-all;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .4rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,.2),0 4px 20px 0 rgba(0,0,0,.1);
}

input:invalid:focus {
  background-image: linear-gradient(rgb(245, 4, 44), lightgreen);
}
.btn-success {
  color: #fff;
  background-color: #00b74a!important;
  border-color: #00b74a!important;
}
.btn-link {
    font-weight: 400;
    color: rgba(255,255,255,0.9);
    background-color: #111;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-logout {
  color: #212529;
  background-color: #242322;
  border-color: #ffc107;
  max-width: 8rem;
  max-height: 4rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-docs{
  width: 100% !important;
}
/* ------------------------------------- footer --------------------------------------------- */
.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	background-color: #a2d3da;
	border: 0px none #333;
	padding: 5px;
	color: #fff;
  position:absolute;
  bottom:0;
}
@media screen and (max-width: 625px) {
  .footer {
	grid-template-columns: repeat(1, 1fr);  
    width: 100%;
	grid-auto-rows: minmax(100px, auto);
  }
}
.column_footer {
  float: left;
  text-align: center;
  border-right: 0px none #333;
  padding: 20px;
}
@media screen and (max-width: 625px) {
.column_footer {
  float: left;
  text-align: center;
  border: 1px solid #fff;
  background-color: #a2d3da;
  grid-gap: 20px;
}	
}
.footer a{
	color: #fff;
}
#logoFeder {
	width: 40%;
}
@media screen and (max-width: 625px) {
#logoFeder {
  float: none;
  text-align: center;
  grid-gap: 20px;
  width: 100%;
}	
}
/* ------------------------------------------------------------------------------------------ */
.wrapper
{
  display: grid; 
  grid-template-columns: auto;
  background-color: #a2d3da;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
	
.wrapper div
{
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.8) !Important;
  padding: 1em;
  font-size: 1em;
  /*text-align: center;	*/
}

.wrapper div a {
  color: #a2d3da;
  opacity: 1.0;
}

.desvanecer {
  opacity: 0.9;
}
.desvanecer_vacio {
  opacity: 0.9;
}
.desvanecer:hover {
  opacity: 1.0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 1000ms;
  background-color: #a2d3da ;
  color: #fff;
}
.avatar {
    vertical-align: middle;
    border-radius: 50%;
}
.fixed-top-2 {
    margin-top: 6px;
}

#correo_newsletter:hover{
	background-color: #dedede;
	color: #000;
}

#contactar_idi {
	width: 100%;
	border: 1px solid #fff;
	padding: 10px;
	font-size: 2em;
	font-weight: bold;
}

.nav-link-idi:hover > p {
	background-color: #a2d3da !important;
	color: #fff !important;
}

.contactanos {
	font-weight: bold;
	color: #327686;
}

.social-media {
	text-align: center  !important;
}

.aforo_plazas {
	font-weight: bold;
	/* border: 1px solid #497786; */
	color: #ffffff;
	background-color: #a3d4db;
	border-radius: 3px;
	padding: 4px 10px;
	margin-left: 1em;
}

.aforo_plazas_lleno {
	font-weight: bold;
	/* border: 1px solid #497786; */
	color: #000000;
	background-color: #ffdd57;
	border-radius: 3px;
	padding: 4px 10px;
	margin-left: 1em;
}
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
  margin-bottom: 4rem!important;
}

.jornadaODT {
	color: #ef1616;
	font-weight: bold;
}
.jornadaODT:hover {
	border-bottom: 3px solid #ef1616;
}

#red_social:hover {
  opacity: 0.4;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.social-media a
{
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
    border-radius: 34px;
}
.social-media a.facebook
    {
        background: #fff;
		color: #a2d3da;
    }
.social-media a.linkedin
    {
        background: #fff;
		color: #a2d3da;
    }
.social-media a.twitter
    {
        background: #fff;
		color: #a2d3da;
    }
.social-media a.youtube
    {
        background: #fff;
		color: #a2d3da;
    }
.social-media a.instagram
    {
        background: #fff;
		color: #a2d3da;
    }	
.fa:hover {
    opacity: 0.7;
}
.btnIDI {
	background-color: #69b6bc;
	color: #ffffff;
	padding: 5px 7px;
	border-radius: 5px;
	margin: 1em;
	border: 1px none #fff;
	cursor:pointer;
}
.btnIDI:hover {
	background-color: #69b6bc;
	color: #ffffff;
	padding: 5px 7px;
	border-radius: 5px;
	margin: 1em;
	border: 1px none #fff;
	cursor:pointer;
	opacity: 0.7;
}
.text-danger-idi {
	height: 100px;
	font-size: .8em;
	text-align: left;
	background-color: #f00;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 3px;
	float: right;
	position: absolute;
	right: 80px;
	top: 180px;
	z-index: 99999;
}
.text-ok-idi {
	height: 100px;
	font-size: .7em;
	background-color: #0B610B;
	color: #fff;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 3px;
	float: right;
	position: absolute;
	right: 0px;
	top: 80px;
	z-index: 3;
}
.caja {
  display: flex;
  align-items: stretch;
}  
.estilo-fila-descarga {
	position: relative; 
	background-color: #a2d3da;
	border: 1px solid #000;
}
.centrado-vertical {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -20px;
}
/* ----------------------------- Pictos IDI ----------------------------------------------------------- */
.wrapper_pictogramas_home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  padding: 6px 0px;
  text-align: center;
}
@media screen and (max-width: 625px) {
  .wrapper_pictogramas_home {
	grid-template-columns: repeat(1, 1fr);  
    width: 100%;
  }
}
/* ------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Servicios IDI ----------------------------------------------------------- */
.wrapper_servicios_home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
  padding: 6px 0px;
  text-align: center;
}
@media screen and (max-width: 625px) {
  .wrapper_servicios_home {
	grid-template-columns: repeat(1, 1fr);  
    width: 100%;
	/* grid-auto-rows: minmax(625px, auto); */
  }
}
/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------ Agenda IDI ------------------------------------------------------------- */
.agenda_contenido {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  /* background-color: #a2d3da; */
  /* border: 1px solid #000000; */
}
@media screen and (max-width: 625px) {
  .agenda_contenido {
	grid-template-columns: repeat(1, 1fr); 
	background-color: #fff;	
	border: 0px none #000000;
    width: 100%;
  }
}

.cuerpo_agenda_IDI {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  /* background-color: #a2d3da; */
  grid-gap: 20px;
  margin: 10px;
  /* border: 1px solid #000000; */
}
@media screen and (max-width: 625px) {
  .cuerpo_agenda_IDI {
	grid-template-columns: repeat(1, 1fr); 
	background-color: #fff;	
    width: 100%;
  }
}

.area_item_formacion {
  /*grid-area: area;*/
  background-color: #ede2ce;
  border-radius : 5px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5em;
  height: 50px;
}
.area_item_formacion_empresa {
  /*grid-area: area;*/
  background-color: #c7c7df;
  border-radius : 5px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5em;
  height: 50px;
}
.area_item_formacion_industria {
  /*grid-area: area;*/
  background-color: #fcd1ae;
  border-radius : 5px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5em;
  height: 50px;
}
.area_item_formacion_comercio {
  /*grid-area: area;*/
  background-color: #97cabb;
  border-radius : 5px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5em;
  height: 50px;
}
.area_item_formacion_inter {
  /*grid-area: area;*/
  background-color: #fff2d5;
  border-radius : 5px;
  padding: 15px;
  margin: 10px;
  font-size: 1.5em;
  height: 50px;
}
.titulo_item_formacion {
  /*grid-area: titulo;*/
  background-color: #ffffff;
  /*padding: 15px;*/
  margin: 10px;
  line-height: 1.2em;
  font-size: 1.5em;
  height: 5em;
}
.titulo_item_formacion_repositorio {
  /*grid-area: titulo;*/
  background-color: #ffffff;
  padding-top: 25px;
  margin: 10px;
  line-height: 1.3em;
  font-size: 1.8em;
  height: 2em;
}

.fecha_item_formacion {
  /*grid-area: fecha;*/
  background-color: #ffffff;
  padding: 15px;
  height: 3em;
  margin-top:15px;
  font-size: 1.5em;
}
.objetivo_item_formacion {
  /*grid-area: objetivo;*/
  white-space: pre-line;
  background-color: #ffffff;
  padding: 15px;
  text-align: left;
  /*font-size: 1.5em;*/
  line-height: 1.6em;
  height: 10em;
}

.objetivo_item_formacion_repositorio {
	text-align: left;
	padding: 15px;
	line-height: 1.7em;
	font-size: 1.2em;
}

.contenido_item_formacion {
  /*white-space: pre-line;*/
  background-color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  height: 10em;
}

.contenido_item_formacion_repositorio {
	text-align: left;
	padding: 15px;
	line-height: 1.7em;
	font-size: 1.2em;
}

.ponente_item_formacion {
  /*grid-area: ponente;*/
  background-color: #ffffff;
  padding: 15px;
  height: 5em;
  /*font-size: 1.4em;*/  
}

.documentacion_item_formacion {
  /*grid-area: area;*/
  background-color: #EFF8FB;
  color: #000;
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
	}
	
.documentacion_item_formacion > div {
	text-align: left;
	padding: 5px;
	}

.docs_documentacion_item_formacion {
	display: grid;
	grid-template-columns: repeat(4, 1fr); 	
	grid-gap: 40px;
	}
	
@media screen and (max-width: 625px) {
.docs_documentacion_item_formacion {
	grid-template-columns: repeat(1, 1fr); 
	background-color: #fff;	
    width: 100%;
  }
}

.pie_item_formacion {
  /*grid-area: area;*/
	display: grid;
	grid-template-columns: repeat(3, 1fr); 
	}

.col_pie_item_formacion {
  /*grid-area: area;*/
  display: grid;
  align-items: center;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.0em;
  font-weight: bold;
	}
.col_pie_item_formacion > a {
	color: #fff !Important;
	opacity: 0.9;
}
.col_pie_item_formacion > a:hover {
	opacity: 1.0;
}
	
.col_pie_item_formacion_blanco {	
  /*grid-area: area;*/
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  font-size: 1.0em;
  font-weight: bold;
	}
	
.videos_item_formacion {
  /*grid-area: area;*/
  background-color: #EFF8FB;
  color: #000;
  border-radius: 5px;
  padding: 25px;
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold;
	}
	
.videos_item_formacion > div {
	text-align: left;
	padding: 5px;
	}
	
.video_videos_item_formacion {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 	
	grid-gap: 40px;
	text-align: center;
}
@media screen and (max-width: 625px) {
.video_videos_item_formacion {
	grid-template-columns: repeat(1, 1fr); 
	background-color: #fff;	
    width: 100%;
  }
}

.valoracion_item_formacion	{
	background-color: #EFF8FB;
	color: #000;
	border-radius: 5px;
	padding: 15px;
	margin: 10px;
	font-size: 1.5em;
	font-weight: bold;
}
.valoracion_item_formacion > div {
	text-align: center;
	padding: 5px;
	}

.documentacion_item_formacion > a {
	color: #000 !Important;
	opacity: 0.9;
}

.documentacion_item_formacion > a:hover {
	opacity: 1.0;
}

.item_formacion {
  /*display: grid;
  grid-template-areas: "area area area"
                       "titulo titulo titulo"
					   "fecha fecha fecha"
					   "contenido contenido contenido"
					   "ponente ponente ponente"
					   "botonera botonera botonera";*/
  grid-template-rows: 200px;
  background-color: #ffffff;
  border: 1px solid #000000; 
  text-align: center;
}

@media screen and (max-width: 625px) {
  .item_formacion {
	grid-template-columns: repeat(1, 1fr); 
    width: 100%;
  }
}

.item_repositorio {
  grid-template-rows: 200px;
  background-color: #ffffff;
  border: 1px solid #000000; 
  text-align: center;
}

.wrapper_agenda_home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #a2d3da;
  border: 1px solid #000000; 
}
@media screen and (max-width: 625px) {
  .wrapper_agenda_home {
	grid-template-columns: repeat(1, 1fr); 
	background-color: #fff;	
	border: 0px none #000000;
    width: 100%;
  }
}
.column_agenda_home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas: 
    "a"
    "b"
    "c";
	align-items: start;
	border-right: 1px solid #333;
}
.item_agenda_1 {
  grid-area: a;
  font-family: Montserrat !important;
  text-align: center;
   padding-top: 15px;
}
.item_agenda_2 {
  grid-area: b;
  font-family: Montserrat !important;
  text-align: left;
  padding: 10px;
}
.item_agenda_3 {
  grid-area: c;
  font-family: Montserrat !important;
  text-align: center;
  padding: 55px;
  border: 0px solid #000000;
  align-content: baseline;
}
@media screen and (max-width: 625px) {
.column_agenda_home {
  float: left;
  border: 1px solid #333;
  background-color: #a2d3da;
  grid-gap: 20px;
}	
}
.column_agenda_home_contenido {
  grid-area: titulo;
  height: 16em;
}
.column_agenda_home_boton {
  grid-area: boton;
  text-align: center !Important;
}
.agenda_detalle {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-column: 1 / span 2;
  grid-gap: 10px;
  text-align: center;
  background-color: #fff;
  /*border: 1px solid #000000; */
}
@media screen and (max-width: 625px) {
  .agenda_detalle {
	grid-template-columns: repeat(1, 1fr); 
	text-align: center;
	background-color: #fff;	
	/*border: 0px none #000000;*/
    width: 100%;
  }
}
.wrapper_agenda_detalle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  background-color: #fff;
}
@media screen and (max-width: 625px) {
  .wrapper_agenda_detalle {
	grid-template-columns: repeat(1, 1fr); 
	background-color: #fff;	
    width: 100%;
  }
}
.ficha_agenda_idi {
 display: grid !Important;
 grid-gap: 1em;
 grid-template-areas:
		'titulo'
		'boton' !Important;
}

.ficha_agenda_idi_cabecera { grid-area: titulo; background-color: inherit; padding: 5px;}
.ficha_agenda_idi_contenido { grid-area: contenido; background-color: inherit; padding: 5px;}
.ficha_agenda_idi_pie { grid-area: pie; text-align: center !Important; background-color:inherit; padding: 5px;}

.fila_agenda_detalle_IDI {
	display: grid;
	grid-template: 
		'titulo'
		'contenido'
		'pie';
}
.fila_agenda_detalle_anyo {
	text-align: left;
}
.fila_agenda_detalle_mes {
	text-align: left;
}
.fila_agenda_detalle_calendario {
	text-align: left;
}

.objetivo-detalle-evento {
	margin-top: 2em;
	margin-bottom: 2em;
}


/* ----------------------------- resultado filtro -------------------------------------------------------- */
.coincidencia {
	background-color: #ADFF2F !Important;
	/* border: 3px solid #000 !Important; */
	font-weight: bold !Important;
	color: #000 !Important;
}
.no_coincidencia {
	background-color: #fff;
	/* color: #fff; */
	border: 0px none #fff;
	font-weight: normal;
	
}
/* ------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------------------- */
/* ----------------------------- Noticias IDI ------------------------------------------------------------ */
.wrapper_noticias_home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(155px, auto);
  padding: 6px 0px;
  text-align: center;
}
@media screen and (max-width: 625px) {
  .wrapper_noticias_home {
	grid-template-columns: repeat(1, 1fr);  
    width: 100%;
	grid-auto-rows: minmax(155px, auto); 
  }
}

.column_noticias_home {
  float: left;
  background-color:#fff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-title-idi {
	text-align: center;
}
.noticias-idi {
	background-color: #ffffff !Important;
	border: 0px solid #000000 !Important; 
	padding: 0px 10px 0px 0px !Important;
}
.wrapper_noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 6px 0px;
}

@media screen and (max-width: 625px) {
  .wrapper_noticias {
	grid-template-columns: repeat(1, 1fr);  
    width: 100%;
	grid-auto-rows: minmax(155px, auto); 
	text-align: center;
  }
}
.wrapper_noticias > div {
	  padding: 6px;
	  border-radius: 5px;
}

.wrapper_noticias div:hover {
	background-color: #fff;
	box-shadow: 1px 1px 2px #999 !Important;
	/*border-radius: 6px;*/
}

.wrapper_noticias a:hover {
	color: #000;
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------ Detalle Noticia -------------------------------------------------------- */
.item1 {
  grid-area: titulo;
  font-family: Montserrat !important;
}
.item2 {
  grid-area: imagen;
  font-family: Montserrat !important;
}
.item3 {
  grid-area: texto;
  font-family: Montserrat !important;
}
.contenedor_noticia_idi {
	display: grid;
	grid-template-areas:
    'titulo titulo'
    'imagen texto'
	'imagen texto';
	grid-gap: 10px;
	background-color: #fff;
	padding: 10px;
}
@media screen and (max-width: 625px) {
  .contenedor_noticia_idi {
	display: grid;  
	grid-template-areas:
    'titulo'
    'imagen'
	'texto';
	grid-gap: 5px;
	background-color: #fff;
	padding: 5px; 
  }
}

/* ------------------------------------------------------------------------------------------------------- */
/* ------------------------------ Agenda home ------------------------------------------------------------ */
.item1 {
  grid-area: titulo;
  font-family: Montserrat !important;
}
.item2 {
  grid-area: imagen;
  font-family: Montserrat !important;
}
.item3 {
  grid-area: texto;
  font-family: Montserrat !important;
}
.contenedor_agenda_idi {
	display: grid;
	grid-template-areas:
    'titulo titulo'
    'imagen texto'
	'imagen texto';
	grid-gap: 10px;
	background-color: #fff;
	padding: 10px;
}
@media screen and (max-width: 625px) {
  .contenedor_agenda_idi {
	display: grid;  
	grid-template-areas:
    'titulo'
    'imagen'
	'texto';
	grid-gap: 5px;
	background-color: #fff;
	padding: 5px; 
  }
}
/* ------------------------------------------------------------------------------------------------------- */
/* ----------------------------- calendario -------------------------------------------------------------- */
.calendario {
	font-size: 0.8em;
	border-collapse: collapse;
}
.calendario td {
	width: 50px;
	height: 30px;
	padding: 2px;
	border: 1px solid #fff;
	vertical-align: middle;
	horizontal-align: centre;
}
.dia_semana {
	color: #fff;
	background-color: #4b7783;
}
.dia_mes {
	color: #000;
	background-color: #a2d3da;
}
.contenido {
	background-color: #497786 !Important;
	color: #fff !Important;
	border-radius: 50% !Important;
	padding: 6px !Important;
}
.contenido:hover {
	background-color: #fff;
	color: #497786;
	border-radius: 45%;
	padding: 5px;
}
/* ----------------------------------------------------------------------------------------------------- */
/* ----------------------------------- Detalle nivel 2 ------------------------------------------------- */

.wrapper_contenido_nivel_dos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;	
	grid-template-areas:
    'imagen'
    'titulo'
	'texto';
	background-color: #fff;
	padding: 10px;
}
@media screen and (max-width: 625px) {
  .wrapper_contenido_nivel_dos {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;	
	grid-template-areas:
    'imagen'
    'titulo'
	'texto';
	grid-gap: 10px;
	background-color: #fff;
	padding: 10px;
  }
}

/* ----------------------------- Modal Dialog ----------------------------------------------------------- */
.modal-content {
	position: fixed;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 40%;
	pointer-events: auto;
	background-color: #e6e0e0;
	background-clip: padding-box;
	border: 1px solid rgb(0, 0, 0);
	border-radius: .5rem;
	outline: 0;
	padding: 1em;
}

#comentario_valoracion {
    margin-bottom: 10px !important;
}
.close-idi {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

.checked {
  color: orange;
}

/* ------------ wizard form ---------------------------------------------*/

* {
  box-sizing: border-box;
}

#regForm {
  background-color: #ffffff;
  margin: 60px auto;
  min-width: 300px;
}

h1 {
  text-align: center;  
}
select, input {
  padding: 10px;
  width: 100%;
  font-size: 1.4em;
  border: 2px solid #d1ecf1;
  background-color: #ffffff;
  letter-spacing: .2rem;
}
select:focus, input:focus {
	background-color: #b4cbd3;
	color: #000;
}
option {
  letter-spacing: .5rem;
}
/* Mark input boxes that gets an error on validation: */
select.invalid, input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  padding: 1em;
}

.input-inscr:hover {
	background: #dedede;
}

.button-insc {
  background-color: #a2d3da;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  /*font-family: Raleway;*/
  cursor: pointer;
}

.button-insc:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 17px;
  width: 17px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #497786;
}
.resumen_inscripcion_evento {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 20px;
	font-size: 1.2em;
	text-align: left;
	line-height: 1.4em;
}
/*------------------------------------------------------------------ */
/*---------- Loader ------------------------------------------------ */
.loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-radius: 50%;
  border-top: 16px solid #a2d3da;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}