body {
  background: transparent;
}

.card--hidden {
  display: none;
}

.card-logo {
    max-height: 18rem;
}

.card__empresas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-left: 0;
  padding-left: 0;
}

.card {
  border:1px solid #365446!important;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba( 0, 0, 0, 0.1 ), 0 2px 4px -1px rgba( 0, 0, 0, 0.06 );
  width: auto;
  min-height: auto;
  margin: 0;
}

.btn-primary {
  background-color: #365446!important;
  border-radius: 0!important;
  font-weight: bold!important;
  border: 1px solid #365446;
  margin-bottom: 2rem;
}

.empresa__detail {
  margin-left: 0;
  padding-left: 0;
}

.btn-primary:hover {
  color: #365446!important;
  background-color: #ffffff!important;
  border: 1px solid #365446!important;
}

a:hover {
  opacity: 0.9!important;
}

.card--detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-thumbnail {
  border: none!important;
}

.alert-success {
  width: 50rem;
}

.picture-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  border: 1px dotted lightgray;
}

.card {
  border: 1px solid #43584a;
}

.card-picture-list:hover {
  background-color: rgba(54, 84, 70, .1);
}

@media only screen and (max-width: 795px) {
  .card__empresas, .container {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .picture-gallery {
    grid-template-columns: 1fr;
  }
  .alert-success {
    width: auto;
  }
}