body {
  background: transparent;
}

.card--hidden {
  display: none;
}

.card-logo {
    max-height: 18rem;
}

.card__empresas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-left: 0;
  padding-left: 0;
}

.card {
  border:1px solid #365446!important;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba( 0, 0, 0, 0.1 ), 0 2px 4px -1px rgba( 0, 0, 0, 0.06 );
  width: auto;
  min-height: auto;
  margin: 0;
}

.btn-primary {
  background-color: #365446!important;
  border-radius: 0!important;
  font-weight: bold!important;
  border: 1px solid #365446;
  margin-bottom: 2rem;
}

.empresa__detail {
  margin-left: 0;
  padding-left: 0;
}

.btn-primary:hover {
  color: #365446!important;
  background-color: #ffffff!important;
  border: 1px solid #365446!important;
}

a:hover {
  opacity: 0.9!important;
}

.card--detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-thumbnail {
  border: none!important;
}

.alert-success {
  width: 50rem;
}

.picture-gallery {
  --s: 100%; /* control the size */
  --g: 1rem;  /* control the gap */
  --f: 2;   /* control the scale factor */
  
  display: grid;
  gap: var(--g);
  width: 100%;
  grid-template-columns: repeat(2,auto);
  place-content: center;
  background: transparent;
  margin-top: 1rem;
}

.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: auto;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 100%;
  max-height: auto;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.picture-gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.picture-gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.picture-gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.picture-gallery .content {
  padding: 4px;
}
.picture-gallery .card-picture-list {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.picture-gallery .card-picture-list:hover {
  transform: scale(1.025);
}


.card {
  border: 1px solid #43584a;
}

.card-picture-list {
  border: none;
}

.card-picture-list:hover {
  background-color: rgba(54, 84, 70, .1);
}

@media only screen and (max-width: 795px) {
  .card__empresas, .container {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .picture-gallery {
    grid-template-columns: 1fr;
  }
  .alert-success {
    width: auto;
  }
}