/* -----------------------------------Styling los Tabs del detalle de la solicitud------------------------*/
    /* Style the tab */
    .tab_fase_exp {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #365446!important;
  }

  /* Style the buttons inside the tab */
  .tab_fase_exp button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 1.25rem;
      color: #fff;
  }

  /* Change background color of buttons on hover */

  .tab_fase_exp button:hover {
    background-color: #ddd;
  }
  /* Create an active/current tablink class */
  .tab_fase_exp button.active {
    background-color: #ccc;
  }
  .detall_tab {
    background-color: #ccc!important;
  }
  .solicitud_tab {
    background-color: #080081!important;
    color: #fff!important;
  }
  .validacion_tab {
    background-color: #b23cfd!important; 
    color: #fff;
  }
  .justificacion_tab {
    background-color: #f37020!important;
    color: #fff;
  }
  .form-check-input {
    float: inherit!important;
    margin-left: -1.5rem!important;
  }

  /* Style the tab content */
  .tab_fase_exp_content {
      display: none;
      /*padding: 6px 12px;*/
      border: 1px solid #ccc;
      border-top: none;
      margin-bottom: 6rem!important;
  }